<!DOCTYPE html>
<html>
  <head>
    <!-- 加載 LINE LIFF SDK -->
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <style>
      /* 自定義分享按鈕的樣式 */
      #lineShareButton {
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        z-index: 9999; /* 將 z-index 設置為一個足夠高的值 */
      }

      #lineShareButton img {
        width: 60px; /* 調整圖片寬度 */
        height: auto;
      }

      #lineShareButton p {
        margin: 0; /* 清除預設邊距 */
      }
    </style>
  </head>
  <body>
    <!-- 分享按鈕 -->
    <div id="lineShareButton">
      <button
        onclick="shareToLINE()"
        style="background: none; border: none; cursor: pointer"
      >
        <img src="/images/line-icon.png" alt="LINE APP 圖片" />
        <p>分享好友</p>
      </button>
    </div>

    <script>
      function shareToLINE() {
        // 檢查用戶訪問設備，如果是手機，啟用 LINE LIFF
        var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        );

        // 獲取分享按鈕元素
        var shareButton = document.getElementById("lineShareButton");

        // 添加點擊事件監聽器
        shareButton.addEventListener("click", function () {
          // 獲取當前網頁的 URL
          var currentURL = window.location.href;

          var sharedText = `來自${getUserName()}的分享🎉`;

          // 使用 LINE 分享功能分享 URL
          if (isMobile) {
            // 如果是手機，使用 LINE LIFF
            if (typeof liff !== "undefined") {
              liff
                .init({ liffId: "2001397246-jbLPM3xw" })
                .then(function () {
                  if (!liff.isLoggedIn()) {
                    liff.login(); // 如果用戶未登錄，提示用戶登錄
                  }
                  // 使用 liff.shareTargetPicker 分享 URL 給 LINE 好友
                  liff.shareTargetPicker([
                    {
                      type: "text",
                      text: sharedText,
                    },
                    {
                      type: "url",
                      title: "分享的網頁",
                      url: `https://lineit.line.me/share/ui?url=${currentURL}`,
                    },
                  ]);
                })
                .catch(function (error) {
                  console.error(error);
                });
            }
          } else {
            // 如果是網頁，使用 LINE Web Share Button
            window.open(`https://lineit.line.me/share/ui?url=${currentURL}`);
          }
        });
      }
    </script>
  </body>
</html>
