<!DOCTYPE html>
<html>
  <head>
    <!-- 加載 LINE LIFF SDK -->
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script>
      async function initializeLiff() {
        await liff.init({ liffId: "2001397246-jbLPM3xw" });
      }

      initializeLiff();
    </script>
    <style>
      /* 自定義分享按鈕的樣式 */
      #lineShareButton {
        position: fixed;
        /* bottom: 20px; */
        top: 20px;
        right: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        z-index: 9999; /* 將 z-index 設置為一個足夠高的值 */
      }

      #lineShareButton img {
        width: 60px; /* 調整圖片寬度 */
        height: auto;
      }

      #lineShareButton p {
        margin: 0; /* 清除預設邊距 */
      }
    </style>
  </head>
  <body>
    <!-- 分享按鈕 -->
    <div id="lineShareButton">
      <button style="background: none; border: none; cursor: pointer">
        <img src="/images/line-icon.png" alt="LINE APP 圖片" />
        <p>分享好友</p>
      </button>
    </div>
    <script>
      // 獲取分享按鈕元素
      const shareButton = document.getElementById("lineShareButton");

      window.addEventListener("scroll", function () {
        var scrollY = window.scrollY || window.pageYOffset;
        if (scrollY > 100) {
          // 頁面滾動大於100像素隱藏
          shareButton.style.display = "none";
        } else {
          shareButton.style.display = "flex"; // 否則顯示按鈕
        }
      });

      function isMobileUser() {
        return /Mobile|Mobi/i.test(navigator.userAgent);
      }

      shareButton.addEventListener("click", () => {
        // 判断用戶環境，如果在Line客户端中，使用LIFF分享
        if (typeof liff !== "undefined" && isMobileUser()) {
          console.log("isMobile");
          // 取得 Line 好友信息
          liff.getProfile().then((profile) => {
            console.log("profile", profile);
            const nickname = profile.displayName;
            const shareText = `好友 ${nickname} 分享了這個連結😊: https://chrislinovo.github.io/about/`;
            // 使用 LIFF 分享
            console.log("shareText", shareText);
            if (liff.isApiAvailable("shareTargetPicker")) {
              liff
                .shareTargetPicker([
                  {
                    type: "text",
                    text: shareText,
                  },
                ])
                .then(() => {
                  console.log("在 Line 客户端中分享成功");
                })
                .catch((error) => {
                  console.log("error ", shareText);
                  console.error("在 Line 客户端中分享失敗", error);
                });
            } else {
              alert(
                "你的 LINE App 暫時不支援 Share Target Picker ，將開始外部瀏覽器。"
              );
            }
            if (liff.isApiAvailable("multipleLiffTransition")) {
              window.location.href = "https://line.me/2001397246-jbLPM3xw";
            }
          });
        } else {
          // 如果是網頁，使用 LINE Web Share Button
          window.open(
            "https://lineit.line.me/share/ui?url=" + window.location.href
          );
        }
      });
    </script>
  </body>
</html>
